@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", "sens-serif";
}

.wrapper {
  width: 100vw;
  height: 100vh;
position: relative;
  z-index: 1;
  
}

  .wrapper::before  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/man-racing-dirt-bike-fantasy-environment.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust as needed */
  z-index: 0;
}

.contente{
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
    display: grid;
  place-items: center;
  align-content: space-evenly;
  position: relative;
  z-index: 1;
  color: white; /* for visibility */
}


.gameInfo {
  color: white;
  top: 3rem;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */

    background-color:rgba(84, 88, 28, 0.596) ;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  border: 1px solid rgba(255,255,255,0.25);
  text-align: center;
}

.tic_tac_toc{
    width: 90%;
    /* position: absolute; */
    max-width: 20rem;
    background-color: #1102027c;
    border-radius: 1rem;
    border: 1px solid rgba(255,255,255,0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
    /* text-align: center; */
  font-size:  3rem;

}
 .box{
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.box1,.box2,.box4,.box5{
  border-right:2px solid white ;
  border-bottom: 2px solid white;
}

.box3 , .box6{
  border-bottom: 2px solid white;
}

.box7 , .box8{
    border-right:2px solid white ;

  }
  .btn{
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgba(84, 88, 28, 0.514) ;
    border: 1px solid rgba(255,255,255,0.25);
    padding: .5rem 2rem;
    cursor: pointer;
    display: none;
  }

  .btn.active{
    display: flex;
  }

  .win{
    background-color:#f3bca28a
  }

  .mbtn{
    background-image: linear-gradient(45deg ,rgb(29, 18, 184),rgb(112, 102, 250));
    position: absolute;
    z-index: 3;
    color: white;
    padding: 0.5rem 1rem ;
 border: none;
 cursor: pointer;
  }